<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoData.Properties.Settings.gestionHoteleraConnectionString"
            connectionString="Data Source=.;Initial Catalog=gestionHotelera;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>